
<core-full-confirm-modal (onConfirmedOut)="onDeleteQuestionConfirmed($event);" modalId="deletQuestionConfirm" messageText="Подтвердите удаление вопросов:{{selectedQuestionNames}}"></core-full-confirm-modal>

<!--Hidden inputs-->
<input type="hidden" [(ngModel)]="categoryId" name="categoryId" />
        
<div class="table-responsive">
    <core-breadcrumb [coreBreadcrumbItems]="coreBreadcrumbItems"></core-breadcrumb>
    <h2 class="ui dividing header icon-question-page">{{ 'CategoryPageQuestions' | translate }}</h2>
    <table class="ui selectable small table table-striped" [rtList]="getQuestions" #list="rtList">
        <thead> 
                <tr>
                    <td colspan="5">
                        <div class="active content filter-block">
                            <form class="ui form" >
                                <div class="five fields">
                                    <div class="field">                                             
                                            <label>{{ 'QuestionPageCategiry' | translate }}</label>  
                                            <p-dropdown [options]="categories" [(ngModel)]="categoryId" name="categoryId"></p-dropdown>
                                        </div>
                                        <div class="field">     
                                            <label>{{ 'QuestionPageArticleName' | translate }}</label>
                                            <div class="ui mini icon input">
                                                <input type="text" [(ngModel)]="articleNumber" name="articleNumber" >
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label>{{ 'QuestionPageText' | translate }}</label>
                                            <div class="ui mini icon input">
                                                <input type="text" [(ngModel)]="questionText" name="questionText" >
                                            </div>
                                        </div>
                                        <a id="aplyfilter" (click)="list.reloadData()" style="margin-top: 24px;" title="{{ 'ApplyFilter' | translate }}" class="font-size-1-35-em icon-filter-button">&nbsp;</a>
                                </div>
                            </form>
                        </div>
                                            
                    </td>
                </tr>
            <tr>
                <ngx-loading [show]="!canUploadQuestions" ></ngx-loading>
                <td colspan="5" style="border: none !important;">
                    <br/>                
                    <p-fileUpload
                        mode="basic"
                        name="file[]" 
                        url="/api/files/uploadQuestions/{{categoryId}}"
                        accept=".xls, .xlsx,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                        (onBeforeUpload) = "onBeforeUploadUsers($event)"
                        (onError) = "onUserUploadError($event)"
                        (onUpload) = "onUpload($event)"
                        chooseLabel="{{ 'LoadQuestions' | translate }}">
                    </p-fileUpload>
                    <a (click)="downloadUserDtoTemplate()" class="dotted-button dotted-button-position font-size-1-35-em icon-add-button">{{ 'TemplateDownload' | translate }}</a>
                    <a routerLink="/question/0" class="dotted-button dotted-button-position font-size-1-35-em icon-add-button">{{ 'ButtonCreate' | translate }}</a>
                    <a (click)="getQuestionGridSelection()" class="dotted-button dotted-button-position font-size-1-35-em icon-delete-button delete-button">{{ 'ButtonDelete' | translate }}</a>
                    <br/>
                </td>
            </tr>
            <tr>
                <th class="collapsing">#</th>
                <th><span>{{ 'QuestionPageText' | translate }}</span></th>
                <th class="collapsing"><span>{{ 'QuestionPageCategiry' | translate }}</span></th>
                <th><span rtSort="ArticleNumber">{{ 'QuestionPageArticleName' | translate }}</span></th>
            </tr>
        </thead>
        <tbody rtSelectionArea>                
            <tr *ngFor="let question of list.items" [rtSelectable]="question">
                <td><a routerLink="/question/{{question.id}}"><i class="fa fa-edit edit-table-item"></i></a></td>
                <td [innerHTML]="question.questionText"></td>
                <td>{{question.categoryName}}</td>
                <td>{{question.articleNumber}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <core-pagination [pageSize]="pageSize"></core-pagination>
                </td>
            </tr>
        </tfoot>
    </table>
</div>