<div class="ui-g-12">
        
    <core-breadcrumb [coreBreadcrumbItems]="coreBreadcrumbItems"></core-breadcrumb>

    <h2 class="ui dividing header icon-question-page">{{ 'QuestionPageHeader' | translate}}</h2>
    <form [formGroup]="questionform" (ngSubmit)="onSubmit()" class="ui form" *ngIf="question">    
            <input-field type="hidden" name="categoryId"> </input-field>

            <div class="two fields">
                    <div class="field form-block">
                        <div>
                            <div class="field" [ngClass]="categoryIsValid ? '' : 'error'">
                                <label>{{ 'QuestionPageCategiry' | translate }} *</label>
                                <p-dropdown [options]="categories" formControlName="categoryId" [style]="{'width':'255px'}"></p-dropdown>
                            </div>
                        </div>
                        <div>
                            <div class="field" style="padding-bottom: 15px;">
                                <label>{{ 'QuestionPageArticleName' | translate }}</label>
                                <div class="ui-inputgroup">
                                    <input formControlName="articleNumber" pInputText [pKeyFilter]="articleNumberRegex" placeholder="Номер статьи">
                                </div>
                            </div> 
                        </div>
                        <div>
                            <div class="field">
                                <label>{{ 'QuestionPageMultipleSelect' | translate}}</label>
                                <p-toggleButton formControlName="isMultipleAnswer" onLabel="разрешен" offLabel="запрещен" onIcon="fa-check-square" offIcon="fa-square"></p-toggleButton>
                            </div>
                        </div>
                    </div>
                    <div class="field form-block">
                        <div class="field" [ngClass]="questionTextIsValid ? '' : 'error'">
                            <label>{{ 'QuestionPageText' | translate }} *</label>   
                            <p-editor formControlName="questionText" [style]="{'height':'100px', 'backgroud-color': '#fff'}"></p-editor>
                        </div>
                    </div>
            </div>
            
            <div class="field">
                <br/>
                <h2 class="ui dividing header icon-answers-page">{{ 'QuestionPageAnswers' | translate }}</h2>
                <answer-table (onAnswersChange)="onAnswersChange($event)"></answer-table>
            </div>
            
            <div class="field">
                <div (click)="onSubmit()" class="ui olive button right floated">{{ 'ButtonSave' | translate }}</div>
            </div>
    </form>
</div>