<input type="hidden" id="show_examination_testing_preparation">
<input type="hidden" id="hide_examination_testing_preparation">

<div class="ui modal" id="examination_testing_preparation" >
    <i class="close icon"></i>
    <div class="header">
      Подготовка к экзамену
    </div>
    <div class="image content">
        <div class="description" style="font-size: 1.3em">
          <div class="ui header">Здравствуйте, {{userInfo.userName}}!</div>
          <span *ngIf="availableExams.length > 0">
            <p>Вам доступны для прохождения следующие экзамены:</p>
            <ol>
                <li style="cursor:pointer" *ngFor="let exam of availableExams" (click)="onExamSelect(exam)">{{exam.name}}</li>
            </ol>

            <h4>Информация об экзамене</h4>
            <div>
                Наименование экзамена: <b> {{selectedExam?.name}}</b><br />
                Время экзамена(мин): <b> {{selectedExam?.duration}}</b><br />
                Количество вопросов: <b> {{selectedExam?.questionCount}}</b><br />
                Проходной бал: <b> {{selectedExam?.requiredCountOfCorrectAnswers}}</b><br />
                Паравильных ответов для оценки 5: <b> {{selectedExam?.pointFive}}</b><br />
                Паравильных ответов для оценки 4: <b> {{selectedExam?.pointFour}}</b><br />
                Паравильных ответов для оценки 3: <b> {{selectedExam?.pointThree}}</b><br />         
            </div>

          </span>
          
          <span *ngIf="availableExams.length <= 0">
            <p>У вас нет доступных для прохождения экзаменов</p>
          </span>          
        </div>
    </div>
    <div *ngIf="availableExams.length > 0" class="actions">
        <span style="font-weight: bold;"></span>Подтверждение. Условия понятны, приступить к экзамену 
        <p-checkbox name="isConditionAprove" [(ngModel)]="isConditionAprove" binary="true" ></p-checkbox>        
        <div (click)="examenStart()" class="ui olive button">Приступить к экзамену</div>
    </div>
  </div>