<core-full-confirm-modal messageText="{{confirmMessage}}" modalId="confirmMessageId"
(onConfirmedOut)="onConfirmedQuestionOut($event)"></core-full-confirm-modal>
<examination-testing-preparing *ngIf="isExamenStarted==false" [isExamenStarted]="isExamenStarted" (examenStartEmitter)="examenStartEmitterInput($event)"></examination-testing-preparing>


<div *ngIf="examinationUserGroup">
  <div class="ui grid">
    <div class="two column row">
      <div class="left floated column">
          <h3 class="ui dividing testing-header">Экзамен: "{{examinationUserGroup.examinationName}}"</h3>
      </div>
      <div class="right floated column">
          <core-timer (onTimeOver)="onTimeOverOut()" style="float: right;color:#0c5f9a;" [endDateTime]="endDateTime"></core-timer>
      </div>
    </div>
  </div>

  <br />
  <div class="row">
    Текущий номер вопроса {{currentQuestionNumber}} из {{examinationUserGroup.questionCount}}
  </div>
  <br />

  <div class="row" style="height: 50%;">
    
    <h3 class="ui dividing testing-header">Вопрос</h3>

    <div *ngIf="currentQuestion">
      <div class="examen-question-text" [innerHTML]="currentQuestion.questionText"></div>
    </div>          
  </div>

  <br />

  <div *ngIf="currentQuestion" class="row" style="height: 50%;">

    <h3 class="ui dividing testing-header">Варианты ответов 
      <i *ngIf="currentQuestion.isMultipleAnswer" style="font-size: 0.7em;">(Доступно несколько вариантов ответа)</i>
    </h3>
    

    <div *ngIf="currentAnswers">
      <table style="width:100%;">
        <tr *ngFor="let answer of currentAnswers">
          <td class="examen-answer-text" [innerHTML]="answer.answerText" style="width: 80%"></td>
          <td style="text-align: center">
            
            <span *ngIf="currentQuestion.isMultipleAnswer">
              <p-checkbox name="asnswers" [(ngModel)]="answer.isRight" binary="true"></p-checkbox>
            </span>
            
            <span *ngIf="!currentQuestion.isMultipleAnswer">
              <p-radioButton *ngIf="answer.isRight==false" (click)="checkAnswer(answer);" name="asnswers"></p-radioButton>
              <p-radioButton *ngIf="answer.isRight==true" value="{{answer.id}}" [(ngModel)]="answer.id" 
              (click)="checkAnswer(answer);" name="asnswers"></p-radioButton>
              
            </span>

          </td>
        </tr>        
      </table>
    </div>
  </div>

  <br />

  <div *ngIf="currentQuestionNumber == examinationUserGroup.questionCount"
        class="ui secondary basic right floated button"
        (click)="toFinishExam()" >Завершить</div>

  <div *ngIf="currentQuestionNumber + 1 <= examinationUserGroup.questionCount"
        class="ui secondary basic right floated button"
        (click)="toNextQuestion()">Следующий вопрос</div>

  <div [ngClass]="currentQuestionNumber - 1 <=0 ? 'disabled' : ''" 
        class="ui secondary basic right floated button"
        (click)="toPrevQuestion()">Предыдущий вопрос</div>
</div>
        

        

