<div class="ui two column centered grid centered">
    
    <div class="column" *ngIf="userGroupResult">

        <h3 class="ui dividing testing-header">Результат тестирования</h3>

        Наименование экзамена: <strong> {{userGroupResult.examenName}}</strong>
        <br />
        Имя прошедшего экзамен:  <strong> {{userGroupResult.examinerFio}}</strong>
        
        <h3 class="ui dividing testing-header">            
            <span *ngIf="userGroupResult.testResultPoint > 2">Поздравляем, вы сдали экзамен!</span>
            <span *ngIf="userGroupResult.testResultPoint <= 2">Вы не прошли экзамен.</span>
        </h3>

        Набранный бал: <strong> {{userGroupResult.testResultEvaluationSummary}} из {{userGroupResult.testQuestionTotalCount}}</strong>
        <br />
        Оценка: <strong>{{userGroupResult.testResultPoint}}</strong>
    </div>
</div>