<div *ngIf="hasAdministratorAccess()" class="ui left vertical inverted labeled icon sidebar menu" id="sidebarlabaled">
        <div class="item" style="padding: 0px;">                    
                <div class="ui big black launch right attached button" id="toggle-btn" style="width: 56px;background: #0c5f9a;text-align: center;box-shadow: none !important;">
                    <i class="fa fa-list fa-header-size layout"></i>
                </div>
            </div>   
    <a class="item"><i class="fa fa-home fa-header-size"></i></a>
    <a class="item"><i class="fa fa-cog fa-header-size"></i></a>
    <a class="item"><i class="fa fa-file fa-header-size"></i></a>
    <a class="item"><i class="fa fa-book fa-header-size"></i></a>
    <a class="item"><i class="fa fa-users fa-header-size"></i></a>
</div>

<div *ngIf="hasAdministratorAccess()" class="ui left vertical inverted sidebar menu visible" id="sidebarFull">            
             
    <div class="item" style="padding: 0px;">                    
        <div class="ui big black launch right attached button" id="toggle-btn" style="background: #0c5f9a;box-shadow: none !important;text-align: center; margin-left: 3px;">
            <i class="fa fa-list fa-header-size layout"></i>
        </div>
    </div>   
  
    <nav>
        <div class="item"> 
            <a routerLink=""><i class="fa fa-home fa-header-size"></i><b>{{ 'MenuMain' | translate}}</b></a>
        </div>
    </nav>
    
    <nav *ngIf="hasEmployeeAccess()">
        <div class="item"> 
            <a routerLink="/examinationtesting/0"><i class="fa fa-home fa-header-size"></i><b>{{ 'MenuStartExamination' | translate }}</b></a>
        </div>
    </nav>

    <!--Администрирование основных частей системы-->
    <div class="item">
        <div class="header">
            <i class="fa fa-cog fa-header-size"></i>
            {{ 'MenuAdministration' | translate }}
        </div>
        <div class="menu">
            <nav><a class="item" routerLink="/categories">{{ 'MenuCategories' | translate }}</a></nav>  
            <nav><a class="item" routerLink="/questions">{{ 'MenuQuestions' | translate }}</a></nav>
            <nav><a class="item" routerLink="/examentantions">{{ 'MenuExamination' | translate }}</a> </nav>
            
            <div class="ui accordion inverted" style="margin-left: 19px;">
                <div class="title" style="color: #ffffff;">
                    {{ 'MenuTranslations' | translate }} <i class="dropdown icon"></i>                  
                </div>
                <div class="content">
                    <nav><a class="item" routerLink="/categories_translate">{{ 'MenuCategories' | translate }}</a></nav>
                    <nav><a class="item" routerLink="/questions_translate">{{ 'MenuQuestions' | translate }}</a></nav>
                    <nav><a class="item" routerLink="/examentantions_translate">{{ 'MenuExamination' | translate }}</a></nav>
                </div>
            </div>
        </div>
    </div>
    <!--Пользователи-->
    <div class="item">
        <div class="header">
            <i class="fa fa-users fa-header-size"></i>
            {{ 'MenuUsers' | translate }}
        </div>
        <div class="menu">
            <nav><a class="item" routerLink="/users">{{ 'MenuUsers' | translate}}</a></nav>
            <!--a class="item" href="/#">
                Роли
            </a-->
        </div>
    </div>
    <!--Отчеты-->
    <div class="item">
        <div class="header">
            <i class="fa fa-file fa-header-size"></i>
            {{ 'MenuReports' | translate }}
        </div>
        <div class="menu">      
            <a class="item" href="/#">
                {{ 'MenuMonthTestReport' | translate }}
            </a>
            <a class="item" href="/#">
                {{ 'MenuCategoriesReport' | translate }}
            </a>
        </div>
    </div>
    <!--Справочники-->
    <div class="item">
        <div class="header">
            <i class="fa fa-book fa-header-size"></i>
            {{ 'MenuDictionaries' | translate }}
        </div>
        <div class="menu">      
            <nav><a class="item" routerLink="/examensettings">{{ 'MenuExaminationSettings' | translate }}</a></nav>
        </div>
    </div>
</div>        

<div class="pusher" [ngClass]="hasAdministratorAccess() == false ? 'pusher2':'' ">

    <div class="ui top menu">
        
        <div class="right menu">
            <div class="item">
                {{userName}}
            </div>
                <div class="ui dropdown item">
                    <i class="fa fa-globe" style="font-size: 20px;margin-right: 5px;"></i> 
                    <div class="text"> {{curentLanguage.name}}</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item"
                        (click)="setSysemLanguage(language.code);"
                        [ngClass]="language == curentLanguage ? 'active selected' : ''" 
                        *ngFor="let language of languages">{{language.name}}</a>
                    </div>
                </div>
            <div class="item">
                <a (click)="logout();" class="dotted-button">{{ 'Exit' | translate }}</a>
            </div>
        </div>
    </div>

    <div class="ui stackable one column grid">
        <div class="column">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>