
<div *ngFor="let category of filteredCategory" class="list">
    <div class="item">
        <div class="content">
            <div class="tree-list-item" (click)="selectCategory(category)"  >
                <div class="header"><i class="fa fa-folder-open"> <span class="category-fonts">{{category.name}}</span></i></div>
                <div class="description">
                    <i *ngIf="category.isCanAddQuestions == false" style="color:#db2828;">{{ 'CategoryPageProhibitedAddingQuestions' | translate }}</i>
                    <i *ngIf="category.isCanAddQuestions == true" style="color:#a7bd0d;">{{ 'CategoryPageQuestions' | translate }} ({{category.questionsCount}})</i>
                </div>
            </div>
            <tree-view (onSelectOut)="selectCategory($event)" [categories]="categories" [parentid]="category.id"></tree-view>             
        </div>
    </div>
</div>