
<core-full-confirm-modal (onConfirmedOut)="onDeleteQuestionConfirmed($event);" modalId="deletQuestionConfirm" messageText="Подтвердите удаление вопросов:{{selectedQuestionNames}}"></core-full-confirm-modal>

<input type="hidden" [(ngModel)]="categoryId" name="categoryId" />
        
<div class="ui-g-12">
    <core-breadcrumb [coreBreadcrumbItems]="coreBreadcrumbItems"></core-breadcrumb>

    <h2 class="ui dividing header icon-exam-page">{{ 'ExamExams' | translate }}</h2>
    <table class="ui selectable small table table-striped" [rtList]="getExamens" #list="rtList">
        
        <thead> 
            <tr>
                <!--td></td>
                <td>
                    <div class="ui mini icon input">
                        <input placeholder="Категория" type="text" [(ngModel)]="categoryName" name="categoryName" >
                    </div>  
                </td>
                <td>
                    <div class="ui mini icon input">
                        <input placeholder="Номер статьи" type="text" [(ngModel)]="articleNumber" name="articleNumber" >
                    </div>                    
                </td-->

                <td colspan="5">    
                    <a routerLink="/examen/0" class="dotted-button dotted-button-position font-size-1-35-em icon-add-button">{{ 'ButtonCreate' | translate }}</a>
                    <!--div (click)="3333()" class="ui mini negative basic button right floated grid-input-asbtn">Удалить</div-->
                    <!--input  (click)="list.resetSettings();list.reloadData();" [disabled]="list.busy"  class="ui mini orange button right floated grid-input-asbtn" value="Сбросить"-->
                    <!--input  (click)="list.reloadData()" [disabled]="list.busy"  class="ui mini primary basic button right floated grid-input-asbtn" value="Применить"-->
                </td>
            </tr>
            <tr>
                <th class="collapsing">#</th>
                <th>
                    <span>{{ 'ExamExamTitle' | translate }}</span>
                </th>
                <th class="collapsing">
                    <span rtSort="StartDate">{{ 'ExamExamDateStart' | translate }}</span>
                </th>
                <th class="collapsing">
                    <span rtSort="EndDate">{{ 'ExamExamDateEnd' | translate }}</span>
                </th>
                <th>
                    <span>{{ 'ExamExamChairMan' | translate }}</span>
                </th>
            </tr>
        </thead>
        <tbody rtSelectionArea>                
            <tr *ngFor="let examen of list.items" [rtSelectable]="examen">
                <td><a routerLink="/examen/{{examen.id}}"><i class="fa fa-edit edit-table-item"></i></a></td>
                <td>{{examen.name}}</td>
                <td>{{examen.startDate | date: 'dd.MM.yyyy'}}</td>
                <td>{{examen.endDate | date: 'dd.MM.yyyy'}}</td>
                <td>{{examen.chairman.fio}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <core-pagination [pageSize]="pageSize"></core-pagination>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
        
