
<div class="field" style="height: 200px; overflow: scroll">
    <div class="ui list">
        <div *ngFor="let category of topcategories" class="item">                    
            <div class="content">
                <div class="tree-list-item" (click)="onSelect(category, true)">
                    <div class="header"><i class="fa fa-folder"> <span class="category-fonts">{{category.name}}</span></i></div>
                    <div class="description"><i style="color:#db2828;">{{ 'CategoryPageExamProvider' | translate }}</i></div>
                </div>
                <tree-view (onSelectOut)="onSelect($event, false)" [categories]="treeCategories" [headCategorySelected]="headCategorySelected" [parentid]="category.id" ></tree-view>
            </div>
        </div>
    </div>
</div>
<div class="field">
    <div class="table-responsive">
        <table class="ui selectable small table table-striped" [rtList]="getCategorySettings" #list="rtList">
            <input id="examenSettingId" type="hidden" [(ngModel)]="examenSettingId" name="examenSettingId" (onChange)="appFilter()">
            <thead>
                <tr>
                    <td colspan="5">
                        <input type="button" (click)="list.resetSettings();list.reloadData()" [disabled]="list.busy" class="ui mini orange button right floated grid-input-asbtn" value="{{ 'ButtonReset' | translate }}" />                    
                        <div (click)="addItem(list)" class="ui mini olive button right floated grid-input-asbtn">{{ 'ButtonAdd' | translate }}</div>
                        <input type="hidden" id="applyExamentCategoryFilter"  (click)="list.reloadData()" [disabled]="list.busy"  class="ui mini primary basic button right floated grid-input-asbtn" value="{{ 'Apply' | translate }}">
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <th><span>{{ 'QuestionPageCategiry' | translate }}</span></th>
                    <th><span>{{ 'ExamExamSumQuestion' | translate }}</span></th>
                    <th><span>{{ 'ExamExamQuesionCount' | translate }}</span></th>
                    <th><span>{{ 'ExamExamQuestionPercent' | translate }}</span></th>
                </tr>
            </thead>
            <tbody rtSelectionArea>                
                <tr *ngFor="let examinationCategory of list.items" 
                    [rtSelectable]="examinationCategory"  
                    #rts="rtSelectable"
                    [ngClass]="examinationCategory.categoryQuestionCount > examinationCategory.fullCategoryQuestionCount ? 'invalid-value' : ''">
                    <td>
                        <div (click)="deleteItem(list, examinationCategory)"><i class="fa fa-trash trash-table-item" style="font-size: 16px;color: #db2828;"></i></div>       
                    </td>
                    <td>
                        <div *ngIf="!rts.selected" >
                            {{examinationCategory.categoryName}}
                        </div>
                        <div style="min-width: 100px; max-width: 250px;" *ngIf="rts.selected">
                            <p-dropdown #cat (onChange)="changeCategoty(cat.selectedOption, examinationCategory);onExaminationCategory(list);" [options]="categorySelectItems" [(ngModel)]="examinationCategory.categoryId" name="categoryId" rtStopEvents="mouseup" rtFocusOnRender [style]="{'width':'255px'}"></p-dropdown>
                        </div>
                    </td>
                    <td>
                        {{examinationCategory.fullCategoryQuestionCount}}
                    </td>
                    <td>
                        <div *ngIf="!rts.selected">
                            {{examinationCategory.categoryQuestionCount}}
                        </div>
                        <div style="min-width: 100px;" *ngIf="rts.selected">
                            <input [ngClass]="examinationCategory.categoryQuestionCount > examinationCategory.fullCategoryQuestionCount ? 'invalid-value' : ''" type="number" rtStopEvents="mouseup" rtFocusOnRender pKeyFilter="int" pInputText [(ngModel)]="examinationCategory.categoryQuestionCount" name="categotyQuestionCount"/>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="!rts.selected">
                            {{100*examinationCategory.categoryQuestionCount/questionCount | number : '1.2-2'}}
                        </div>
                        <div style="min-width: 100px;" *ngIf="rts.selected">
                            <input #percentage type="number" rtStopEvents="mouseup" (change)="onPercentchange(percentage.value, examinationCategory)" rtFocusOnRender pInputText pKeyFilter="int" value="{{100*examinationCategory.categoryQuestionCount/questionCount | number : '1.2-2'}}" >
                        </div>
                    </td>
                </tr>
                <tr style="font-weight: bold;">
                    <td colspan="3" style="text-align: right;">{{ 'ExamExamSum' | translate }}:</td>
                    <td [ngClass]="questiontSum(list) > questionCount ? 'invalid-value' : ''">
                            {{ questiontSum(list) | number : '1.2-2' }}</td>
                    <td [ngClass]="percentSum(list) > 100 ? 'invalid-value' : ''">
                        {{ percentSum(list) | number : '1.2-2' }}
                    </td>
                </tr>
            </tbody>  
        </table>
    </div>
</div>