<div class="ui-g-12">
    <core-breadcrumb [coreBreadcrumbItems]="coreBreadcrumbItems"></core-breadcrumb>
    
    <h2 class="ui dividing header icon-exam-page">{{ 'ExamExams' | translate }}</h2>
    <form [formGroup]="examenForm" class="ui form">
        <div class="two fields">
            <div class="field">
                <label>{{ 'ExamExamSettings' | translate }}</label>
                <p-dropdown [options]="examinationSettingItems" formControlName="examinationSetting" [style]="{'width':'255px'}"></p-dropdown>
                
                <input type="button" style="margin-top: 10px !important;" id="aplyExamenSetting" (click)="aplyExamenSetting()" class="ui mini orange button right floated grid-input-asbtn" value="{{ 'Apply' | translate }}">
            </div>
        </div>
        <div class="two fields">
            <div class="field form-block">
                    <div class="field" [ngClass]="validatErrors('name') ? '' : 'error'">
                        <label>{{ 'ExamExamTitle' | translate }} *</label>
                        <input formControlName="name"/>
                    </div>
                <br/>
                
                <div class="field" [ngClass]="validatErrors('chairmanId') ? '' : 'error'">
                    <label>{{ 'ExamExamChairMan' | translate }} *</label>
                    <p-dropdown [options]="chairmans" formControlName="chairmanId" [style]="{'width':'255px'}"></p-dropdown>
                </div>

                <br/>

                <div class="field" [ngClass]="validatErrors('startDate') ? '' : 'error'">
                    <label>{{ 'ExamExamDateStart' | translate }} *</label>
                    <p-calendar dateFormat="dd.mm.yy" utc="true" formControlName="startDate" [minDate]="minDateTime" readonlyInput="true"></p-calendar>
                </div>
                <div class="field" [ngClass]="validatErrors('endDate') ? '' : 'error'">
                    <label>{{ 'ExamExamDateEnd' | translate }} *</label>
                    <p-calendar dateFormat="dd.mm.yy" utc="true" formControlName="endDate" [minDate]="minDateTime" readonlyInput="true"></p-calendar>
                </div>
                <div class="field" [ngClass]="validatErrors('duration') ? '' : 'error'">
                    <label>{{ 'ExamExamDuration' | translate }} *</label>
                    <input type="number" pKeyFilter="int" pInputText formControlName="duration"/>
                </div>
            </div> 
            <div class="two fields">
                <div class="field form-block">
                    <div class="field" [ngClass]="validatErrors('questionCount') ? '' : 'error'">
                        <label>{{ 'ExamExamQuestionCount' | translate }} *</label>
                        <input type="number" pKeyFilter="int" pInputText formControlName="questionCount"/>
                    </div>
                    <div class="field" [ngClass]="validatErrors('requiredCountOfCorrectAnswers') ? '' : 'error'">
                        <label>{{ 'ExamExamRequiredQuestionCount' | translate }} *</label>
                        <input type="number" pKeyFilter="int" pInputText formControlName="requiredCountOfCorrectAnswers"/>
                    </div>
                    <br/>
                    <div class="field" [ngClass]="validatErrors('pointfive') ? '' : 'error'">
                        <label>{{ 'ExamExamPointFiveFrom' | translate }} *</label>
                        <input type="number" formControlName="pointfive" pKeyFilter="int" pInputText />
                    </div>
                    <div class="field" [ngClass]="validatErrors('pointfour') ? '' : 'error'">
                        <label>{{ 'ExamExamPointFourFrom' | translate }} *</label>
                        <input type="number" formControlName="pointfour" pKeyFilter="int" pInputText />
                    </div>
                    <div class="field" [ngClass]="validatErrors('pointthree') ? '' : 'error'">
                        <label>{{ 'ExamExamPointThreFrom' | translate }} *</label>
                        <input type="number" formControlName="pointthree" pKeyFilter="int" pInputText />
                    </div>
                </div>
            </div>
        </div>
        
        <h4 class="ui dividing header">{{ 'CategoryPageCategories' | translate }}</h4>
       
        <examen-categorty-table [examenSettingId]="examinationSettingId"  (onExaminationCategoriesChange)="onexaminationCategoriesChange($event)" [questionCount]="questionCount"></examen-categorty-table>

        <h2 class="ui dividing header">{{ 'ExamExamUsers' | translate }}</h2>
        <div id="usersblock" style="position: relative;">
                <ngx-loading [show]="!canUploadUsers" ></ngx-loading>

        <div class="field">
            <label>{{ 'Filter' | translate }}</label>
            <div class="field">
                <p-fileUpload
                    mode="basic"
                    name="file[]" 
                    url="/api/files/uploadUsers"
                    accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                    (onBeforeUpload) = "onBeforeUploadUsers($event)"
                    (onError) = "onUserUploadError($event)"
                    (onUpload) = "onUpload($event)"
                    chooseLabel="{{ 'LoadUsers' | translate }}">
                </p-fileUpload>
                <!--div (click)="downloadUserDtoTemplate()" style="width:auto !important" class="ui mini olive button right floated grid-input-asbtn">{{ 'TemplateDownload' | translate }}</div-->
                <a (click)="downloadUserDtoTemplate()" class="dotted-button dotted-button-position font-size-1-35-em icon-add-button">{{ 'TemplateDownload' | translate }}</a>
            </div>

            <div class="three fields filter-block">
                <div class="field">
                    <label>{{ 'UserIIN' | translate }}</label>                    
                    <div class="ui mini icon input">
                        <input type="text" pKeyFilter="int" pInputText formControlName="filterUserIin" name="filterUserIin">
                    </div>
                </div>
                <div class="field">
                    <label>{{ 'UserMidleName' | translate }}</label>
                    <div class="ui mini icon input">
                        <input type="text" pInputText formControlName="filterUserMiddleName" name="filterUserMiddleName">
                    </div>   
                </div>              
                <div class="field">                
                    <div class="ui mini icon input">
                        <a (click)="aplyUserFilter()" title="{{ 'ApplyFilter' | translate }}" class="font-size-1-35-em icon-filter-button">&nbsp;</a>
                    </div>     
                </div>              
            </div>
                
            <table *ngIf="failureUserInfos.length > 0">
                <tr style="color: #b10c0c;">
                    <td>{{ 'CantAddUsersMessage' | translate }}</td>
                </tr>
                <tr style="color: #b10c0c;" *ngFor="let error of failureUserInfos">
                    <td>{{error}}</td>
                </tr>

            </table>

            <p-pickList dragdrop="true" 
                        sourceHeader="{{ 'UserAvailableUsers' | translate }}"
                        targetHeader="{{ 'UserSelectedUsers' | translate }}"
                        [responsive]="true" 
                        [source]="noSelectedUsers"
                        [target]="selectedUsers">
                <ng-template let-user pTemplate="item">
                    <div class="ui-helper-clearfix">
                        {{user.secondName}} {{user.firstName}} {{user.middleName}} - ИИН({{user.inn}})
                    </div>
                </ng-template>
            </p-pickList>
        </div>

         </div>
        <div class="field">
            <div (click)="onSubmit()" class="ui olive button right floated">{{ 'ButtonSave' | translate }}</div>
        </div>

    </form>
</div>