<div class="ui-g-12">
    <h2 class="ui dividing header icon-category-page">{{ 'CategoryPageCategories' | translate }}</h2>
    <div class="ui stackable two column grid">
        
        <div class="ten wide column" style="height: 288px; overflow: auto;">

            <div class="ui list">
                <div *ngFor="let category of topcategories" class="item">                    
                    <div class="content">
                        <div class="tree-list-item" (click)="onSelect(category, true)">
                            <div class="header"><i class="fa fa-folder"> <span class="category-fonts">{{category.name}}</span></i></div>
                            <div class="description" style="color:#db2828;"><i>{{ 'CategoryPageExamProvider' | translate }}</i></div>
                        </div>
                        <tree-view (onSelectOut)="onSelect($event, false)" [categories]="categories" [headCategorySelected]="headCategorySelected" [parentid]="category.id" ></tree-view>
                    </div>
                </div>
            </div>

        </div>
        
        <div class="six wide column">
            <category-detail (onSubmited)="getCategories(null)" [categoryId]="selectedCategory.id"></category-detail>
        </div>
    </div>
    
    <question-table [selectedCategory]="selectedCategory"></question-table>
</div>