<form [formGroup]="categoryform" (ngSubmit)="onSubmit()" class="ui form form-block">    

        <input-field type="hidden" name="categoryId"> </input-field>

        <div class="field">
            <label>{{ 'CategoryPageParentCategory' | translate }}</label>
            <p-dropdown [options]="categories" formControlName="parentId"></p-dropdown>
        </div>

        <div class="field" [ngClass]="validateErrors('name') ? '' : 'error'">
            <label>{{ 'CategoryPageTitle' | translate }} *</label>
            <input formControlName="name">
        </div>

        <div class="field" [ngClass]="validateErrors('isCanAddQuestions') ? '' : 'error'">
            <label>{{ 'CategoryPageCanAddQuestion' | translate }} </label>
            <p-checkbox formControlName="isCanAddQuestions" binary="true"></p-checkbox>
        </div>
        
        <div class="three fields">
            <div class="field" style="margin-left: -8px;"> 
                <div class="ui red button" (click)="onDelete()" style="padding: 11px;width: 90px;">{{ 'ButtonDelete' | translate }}</div>
            </div>
            <div class="field"> 
                <div class="ui olive button" (click)="onSubmit()" style="padding: 11px;width: 90px;">{{ 'ButtonSave' | translate }}</div>
            </div>
            <div class="field">   
                <div class="ui grey button" (click)="clearForm()" style="padding: 11px;width: 85px;">{{ 'ButtonClear' | translate }}</div>
            </div>
        </div>
</form>