
.pusher {
    transition: all .2s linear;
    padding-right:260px;
  }
  
.pusher2 {
  padding-right:0px !important;
}
  .ui.left {
    transition: width .2s linear;
  }
  
  .labeled.icon {
    width: 84px !important;
  }
  
  .pusher.push {
    transform: translate3d(84px,0,0) !important;
    padding-right:84px;
  }

  div.verticalcolumnseparator{
    border: 1px solid rgba(34,36,38,.15);
    width: 0.1px;
    padding: 0 !important;
    margin: 0;
  }

  form{
    border: 1px solid rgba(34,36,38,.15);;
    padding: 20px;
    border-radius: .28571429rem;
  }

.item .header{
  cursor: pointer;
}
.rt-selected{
  background: rgba(0,0,0,.05)!important;
  color: rgba(0,0,0,.95)!important;
}
.fa-header-size{    
  font-size: 25px;
  padding-right: 10px;
}
.invalid-value{
  color: #db2828 !important;
}
.ui-picklist-source-controls, .ui-picklist-target-controls{
  display: none !important;
}

.grid-input-asbtn,
input.ui.mini.orange.basic.button.right.floated.grid-input-asbtn,
input.ui.mini.primary.basic.button.right.floated.grid-input-asbtn{
  /*width: 100px !important;
  height: 30px !important;*/
  margin-left: 5px !important;
  margin-top: -1px !important;
  box-shadow: none !important;
  border: 0px solid !important;
  text-align: center !important;
}
.trash-table-item,.edit-table-item{
  cursor: pointer;
  font-size: 19px;
}

.trash-table-item{
  color: #9F3A38;
}
.edit-table-item{
  color: #0c5f9a;
}


.tree-list-item{
  cursor: pointer;
}
.list .ng-star-inserted>.item {
  margin-left: 20px;
}
.tree-list-item:hover{
  background: #e0e0e0
}
.tree-list-item.selected{
  background: #d0d0d0
}
.category-fonts{
  font-family: "Segoe UI","Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #4a4a4a;
  font-size: 17px;
}
.tree-list-item>.description{
  font-size: 12px;
  margin-left: 20px;
}


.ui.form{
  border: none;
}
.ui.dividing.header{
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Helvetica Neue", sans-serif;
  color: #0c5f9a;
  border: 0px !important;
  font-size: 3em !important;
  font-weight: 100;
}

.ui-font-family {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Helvetica Neue", sans-serif;
  font-size: 1.4em !important;
}

th>span {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Helvetica Neue", sans-serif;
  border: 0px !important;
  font-size: 1.4em !important;
  font-weight: 100;
}

tbody td {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Helvetica Neue", sans-serif;
  border: 0px !important;
  font-size: 1.3em !important;
  font-weight: 100;
  cursor: pointer;
}

tbody tr:nth-child(odd){
  background-color: #fbfafa;
}

.ui.form .field > label {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Helvetica Neue", sans-serif !important;
  border: 0px !important;
  font-size: 1.3em !important;
  font-weight: 100 !important;
}

input {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Helvetica Neue", sans-serif !important;
  border: 0px !important;
  font-size: 1.2em !important;
  font-weight: 100 !important;
  border: 1px solid rgba(34, 36, 38, 0.15) !important;
}

rt-paged-pager>div>a {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Helvetica Neue", sans-serif !important;
  font-size: 1.2em !important;
  font-weight: 100 !important;
}

rt-paged-pager>div>a {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Helvetica Neue", sans-serif !important;
  font-size: 1.2em !important;
  font-weight: 100 !important;
}

.ui.buttons .button, .ui.buttons .or, .ui.button {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Helvetica Neue", sans-serif !important;
  font-size: 1em !important;
  font-weight: 400 !important;
}

.ui.vertical.menu .item > .header:not(.ui) {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Helvetica Neue", sans-serif !important;
  font-size: 1.2em !important;
  font-weight: 400 !important;
}

.ui.vertical.menu .menu .item, .ui.inverted.menu .item, .ui.inverted.menu .item > a:not(.ui) {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Helvetica Neue", sans-serif !important;
  font-size: 1em !important;
  font-weight: 100 !important;
}

.ui-chkbox .ui-chkbox-box>span {
  margin-top: 6px !important;
}

.ui-chkbox .ui-chkbox-box {
  width: 2.125em !important;
  height: 2.125em !important;
}

.ui-chkbox-box.ui-state-active, .ui-radiobutton-box.ui-state-active {
  border: 1px solid #0c5f9a !important;
  background: #0c5f9a !important;
}

.ui-dropdown{
  width:100% !important;
  height:37px;
  border-radius: 0px !important;

}
.ui-dropdown-label{
  margin-top: 5px !important;
}
.ui-dropdown:not(.ui-state-disabled):hover{
  background:none !important;
}
.ui-dropdown .ui-dropdown-trigger .fa{
  margin-top: 10px !important;
}
.ui-dropdown .ui-dropdown-trigger{
  height: 99% !important;
}
input, button, .ui.basic, .ui.button{
  border-radius: 0px !important;
}

.ui.form .field>label,.ui.table thead th{
  font-size: 15px !important;
  font-family: "Segoe UI","Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;

}

.ui.table {
  border: 0px !important;
}

.stackable {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.form-block {
  padding: 18px;
  background-color: #f2f2f2;
  padding: 15px !important;
  margin-right: 20px !important;
}

.ui.form .fields .field {
  padding: 8px 15px 8px 15px !important;
}
.ui-dropdown .ui-inputtext{
  background: none !important;
}
.ui.accordion form {
  padding: 0px !important;
}
.ui-dropdown .ui-dropdown-panel {  
  width: max-content;
  max-width: 500px;
}

.dotted-button {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Helvetica Neue", sans-serif !important;
  color: #333;
  /*border-bottom: 1px dotted #333;*/
}

.dotted-button:hover {
  background-color: #0c5f9a;
  color: #fff;
  border: 1px dotted #0c5f9a;
  cursor: pointer;
}

.dotted-button-no-bg {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Helvetica Neue", sans-serif !important;
  color: #333;
  /*border-bottom: 1px dotted #333;*/
}

.dotted-button-no-bg:hover {
  color: #0c5f9a;
}

.dotted-button-position {
  margin-right: 25px;
}

.dottet-link {
  color: #333;
  border-bottom: 1px dotted #333;
}

.dottet-link:hover {
  color: #0c5f9a;
  border-bottom: 1px dotted #0c5f9a;
}

.margin-left-position {
  margin-left: 25px;
}

.font-size-1-35-em {
  font-size: 1.5em;
}

.filter-block {
    background-color: #f9fafb;
    padding: 10px 10px 0px 0px;
}

.ql-editor {
  background-color: #fff;
}

.tr-row-detail-input {
  height: 42px;
  padding: 8px;
  margin-top: 8px;
  font-size: 1em !important;
}

.tr-row-detail-save-button {
  padding-left: 36px;
}

.icon-print-button {
  background-image: url('/examination/assets/icons/Document.svg');
  background-repeat: no-repeat;
  padding: 12px 14px 4px 22px;
}

.icon-print-button:hover {
  background-image: url('/examination/assets/icons/Document_blue.svg');
}

.icon-add-button {
    background-image: url('/examination/assets/icons/Plus_01.svg');
    background-repeat: no-repeat;
    padding-left: 32px;
    border: 1px solid #fff;
    padding: 4px 10px 4px 30px;
}

.icon-add-button:hover {
  background-image: url('/examination/assets/icons/Plus_01_blue.svg');
  background-repeat: no-repeat;
  border: 1px solid;
  padding: 4px 10px 4px 30px;
}

.icon-delete-button {
  background-image: url('/examination/assets/icons/Delete_01.svg');
  background-repeat: no-repeat;
  padding-left: 32px;
  border: 1px solid #fff;
  padding: 4px 10px 4px 30px;
}

.icon-delete-button:hover {
  background-image: url('/examination/assets/icons/Delete_01_red.svg');
  background-repeat: no-repeat;
  border: 1px solid;
  padding: 4px 10px 4px 30px;
}

.delete-button:hover {
  background-color: #bb2828 !important;
  color: #fff !Important;
}

.icon-filter-button {
  background-image: url('/examination/assets/icons/Filter-01.svg');
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  margin-top: 12px;
}

.icon-filter-button:hover {
  background-image: url('/examination/assets/icons/Filter-01_blue.svg');
  background-repeat: no-repeat;
}

.icon-innter-table-save-button {
  background-image: url('/examination/assets/icons/Check-02-WF.svg');
  background-repeat: no-repeat;
  width: 48px;
  margin-top: -8px;
}

.icon-innter-table-save-button:hover {
  background-image: url('/examination/assets/icons/Check-02-WF_blue.svg');
  background-repeat: no-repeat;
}

.filter-button {
  margin-top: 15px;
}

.icon-question-page {
  background-image: url('/examination/assets/icons/Question-01_blue.svg');
  background-repeat: no-repeat;
  padding-left: 56px !important;
}

.icon-category-page {
  background-image: url('/examination/assets/icons/Category-01_blue.svg');
  background-repeat: no-repeat;
  padding-left: 56px !important;
}

.icon-exam-page {
  background-image: url('/examination/assets/icons/Check-01-WF_blue.svg');
  background-repeat: no-repeat;
  padding-left: 56px !important;
}

.icon-users-page {
  background-image: url('/examination/assets/icons/Users-WF_blue.svg');
  background-repeat: no-repeat;
  padding-left: 56px !important;
}

.icon-settings-page {
  background-image: url('/examination/assets/icons/Settings-01-WF_blue.svg');
  background-repeat: no-repeat;
  padding-left: 56px !important;
}

.icon-answers-page {
  background-image: url('/examination/assets/icons/Select-List_blue.svg');
  background-repeat: no-repeat;
  padding-left: 56px !important;
}

.icon-monitoring-page {
  background-image: url('/examination/assets/icons/Checks-01_blue.svg');
  background-repeat: no-repeat;
  padding-left: 56px !important;
}

.testing-header{
  color: #0c5f9a;
  font-weight: lighter;
}
.examen-question-text,.examen-answer-text{
  font-size: 2em;
}
.timer-time{
  
}

.inner-table-font-size {
  font-size: 16px !important;
}

.selected-row-with-inner-table {
  background-color: #f2f2f2 !important;
  border: 0px !important;
}

.selected-row-with-inner-table:hover {
  background-color: #f2f2f2 !important;
}

.inner-table-seve-button {
  background-color: #f2f2f2;
  border: 0px !important;
}

.ui-button{
  height: 33px !important;
  border-radius: 0px !important;
  background-color: #0c5f9a !important;
}
.ui-fileupload-choose{
  background: none !important;
  border: 0px !important;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Helvetica Neue", sans-serif !important;
  color: #333 !important;
  font-size: 1.5em !important;
  margin-right: 0px !important;
}
.ui-fileupload-choose:hover{
  color: #FFF !important;
}
.ui-button-icon-left{  
  margin-top: -0.3em !important;
}
.ui-button-text-icon-left .ui-button-text{
  padding: 3px 1em 0px 2em !important;
}
p-fileupload{
  display: inline-flex;
  margin-right: 25px;
  height: 33px;
  padding: 1px 0;
}
p-fileupload:hover {
  background: #0c5f9a;
}
span.ui-button-icon-left.fa.fa-fw.fa-square,span.ui-button-text.ui-unselectable-text
{
  color:#fff;
}




.sk-folding-cube {
  margin: 300px auto;
  width: 80px;
  height: 80px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0c5f9a;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}