Оставшееся время:
<br />
<span class="timer-time">{{hours}}</span><sub>часов</sub>
<span class="timer-time"> : {{minutes}}</span><sub>минут</sub>
<span class="timer-time"> : {{seconds}}</span><sub>секунд</sub>