<rt-paged-pager [defaultPageSize]="pageSize" #rtPager>
    <div id="pagination" class="ui right floated pagination menu">
        <a class="item" [class.disabled]="!rtPager.canMoveBackward" (click)="rtPager.goToFirstPage()"><i class="fa fa-chevron-left"></i><i class="fa fa-chevron-left"></i></a>
        <a class="item" [class.disabled]="!rtPager.canMoveBackward" (click)="rtPager.goToPreviousPage()"><i class="fa fa-chevron-left"></i></a>
        
        <div class="ui mini icon input pagedInput item">      
            <input rtSelectOnFocus rtPageNumber (keyup.enter)="rtPager.loadData()" type="text">
        </div>

        <a class="item" [class.disabled]="!rtPager.canMoveForward" (click)="rtPager.goToNextPage()"><i class="fa fa-chevron-right"></i></a>
        <a class="item" [class.disabled]="!rtPager.canMoveForward" (click)="rtPager.goToLastPage()"><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></a>
       
        <a class="item">
            {{ 'PaginationFrom' | translate }} {{rtPager.pager.displayFrom}} 
            {{ 'PaginationTo' | translate }} {{rtPager.pager.displayTo}} 
            {{ 'PaginationOf' | translate }} {{rtPager.pager.totalCount}}.
        </a>

        <a class="item">{{ 'PaginationShowRows' | translate }}:</a>
        <div class="ui mini icon input pagedInput item">      
            <input rtSelectOnFocus rtPageSize (keyup.enter)="rtPager.loadData()" type="text"maxlength="3" >
        </div>
    </div>
</rt-paged-pager>