<div class="table-responsive">
    <table class="ui selectable small table table-striped" [rtList]="getAnswers" #list="rtList">
        
        <thead>
            <tr>
                <td></td>
                <td colspan="3">
                    <a (click)="addAnswer(list)" class="dotted-button dotted-button-position font-size-1-35-em icon-add-button">{{ 'ButtonAdd' | translate }}</a>
                    <a (click)="list.resetSettings();list.reloadData();" class="dotted-button dotted-button-position font-size-1-35-em icon-delete-button delete-button">{{ 'ButtonReset' | translate }}</a>
                </td>
            </tr>
            <tr>
                <th class="collapsing">#</th>
                <th>
                    <span>{{ 'QuestionPageAnswersText' | translate }}</span>
                </th>
                <th class="collapsing">
                    <span>{{ 'QuestionPageAnswerRight' | translate }}?</span>
                </th>
            </tr>
        </thead>
        <tbody rtSelectionArea>                
            <tr *ngFor="let answer of list.items" [rtSelectable]="answer"  #rts="rtSelectable">
                <td>
                    <div><i (click)="deleteItem(list, answer)" class="fa fa-trash trash-table-item"></i></div>       
                </td>
                <td>
                    <div *ngIf="!rts.selected" >
                        {{answer.answerText}}
                    </div>
                    <div *ngIf="rts.selected">
                        <textarea (change)="onChangeAnswer(list)" rows="2" rtStopEvents="mouseup" rtFocusOnRender [(ngModel)]="answer.answerText" name="answerText">
                        </textarea>
                    </div>
                </td>
                <td>
                    <div *ngIf="!rts.selected" >
                        <p-checkbox [(ngModel)]="answer.isRight" readonly binary="true" name="isRight"></p-checkbox>
                        
                    </div>
                    <div *ngIf="rts.selected">
                        <p-checkbox (onChange)="onChangeAnswer(list)" 
                        rtStopEvents="mouseup" rtFocusOnRender 
                        [(ngModel)]="answer.isRight" 
                        binary="true"
                         name="isRight"></p-checkbox>
                    </div>
                </td>
            </tr>
        </tbody>  
    </table>
</div>
        
