<div class="ui-g-12">
    <core-breadcrumb [coreBreadcrumbItems]="coreBreadcrumbItems"></core-breadcrumb> 
    <h2 class="ui dividing header icon-settings-page">{{ 'ExamExamSetting' | translate }}</h2>
    <form [formGroup]="exameSettingForm" class="ui form">    
        <div class="two fields">
            <div class="field form-block">
                    <div class="field" [ngClass]="validatErrors('name') ? '' : 'error'">
                        <label>{{ 'ExamExamSettingTitle' | translate }} *</label>
                        <input formControlName="name"/>
                    </div>
                <br/>
                
                <div class="field" [ngClass]="validatErrors('chairmanId') ? '' : 'error'">
                    <label>{{ 'ExamExamChairMan' | translate }} *</label>
                    <p-dropdown [options]="chairmans" formControlName="chairmanId" [style]="{'width':'255px'}"></p-dropdown>
                </div>

                <br/>
                <div class="field" [ngClass]="validatErrors('duration') ? '' : 'error'">
                    <label>{{ 'ExamExamDuration' | translate }} *</label>
                    <input type="number" pKeyFilter="int" pInputText formControlName="duration" />
                </div>

                <br/>
                <!--div class="field" >
                    <label>Категория с экзаменами</label>
                    <p-dropdown [options]="categories" disabled formControlName="examenSettingParentCategoryId" [style]="{'width':'255px'}"></p-dropdown>
                </div-->
            </div>

            <div class="two fields">
                <div class="field form-block">
                    <div class="field" [ngClass]="validatErrors('questionCount') ? '' : 'error'">
                        <label>{{ 'ExamExamQuestionCount' | translate }} *</label>
                        <input type="number" pKeyFilter="int" pInputText formControlName="questionCount"/>
                    </div>
                    <div class="field" [ngClass]="validatErrors('requiredCountOfCorrectAnswers') ? '' : 'error'">
                        <label>{{ 'ExamExamRequiredQuestionCount' | translate }} *</label>
                        <input type="number" pKeyFilter="int" pInputText formControlName="requiredCountOfCorrectAnswers"/>
                    </div>
                    <br/>
                    <div class="field" [ngClass]="validatErrors('pointfive') ? '' : 'error'">
                        <label>{{ 'ExamExamPointFiveFrom' | translate }} *</label>
                        <input type="number" formControlName="pointfive" pKeyFilter="int" pInputText />
                    </div>
                    <div class="field" [ngClass]="validatErrors('pointfour') ? '' : 'error'">
                        <label>{{ 'ExamExamPointFourFrom' | translate }} *</label>
                        <input type="number" formControlName="pointfour" pKeyFilter="int" pInputText />
                    </div>
                    <div class="field" [ngClass]="validatErrors('pointthree') ? '' : 'error'">
                        <label>{{ 'ExamExamPointThreFrom' | translate }} *</label>
                        <input type="number" formControlName="pointthree" pKeyFilter="int" pInputText />
                    </div>
                </div>
            </div>
        </div>
        
        <h4 class="ui dividing header">{{ 'CategoryPageCategories' | translate }}</h4>
       
        <examen-categorty-table (onSelectCategoryOut)="onSelectCategoryOut($event)" [isCategorySetting]="true" (onExaminationCategoriesChange)="onexaminationCategoriesChange($event)" [questionCount]="questionCount"></examen-categorty-table>

        <div class="field">
            <div (click)="onSubmit()" class="ui olive button right floated">{{ 'ButtonSave' | translate }}</div>
        </div>

    </form>
</div>