<div class="ui breadcrumb">
    <span *ngFor="let item of coreBreadcrumbItems">        
        <a routerLink="{{item.link}}" class="section" 
            [ngClass]="item.isActive == true ? 'active' : ''">                
            <span *ngIf="item.title != ''">
                {{item.title | translate}}
            </span>
            <span *ngIf="item.isActive == true && id && id != '0' && id.length > 1">
                    {{'BreadCrumbEdit' | translate}}
            </span>
            <span *ngIf="item.isActive == true && id == '0'">
                    {{'BreadCrumbCreate' | translate}}
            </span>
        </a>
        <div *ngIf="item.isActive == false" class="divider"> / </div>
    </span>
</div>