<div class="ui mini basic modal">
  
  <div class="ui icon header">
    <i class="archive icon"></i>
    Подтверждение
  </div>

  <div class="content">
    <p [innerHTML]="messageText"></p>
  </div>

  <div class="actions">
    <div (click)="onConfirmed()" class="ui red basic cancel inverted button">
      <i class="remove icon"></i> Да
    </div>
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i> Нет
    </div>
  </div>

  <div id="{{modalId}}" onclick='openModal(this.id)'></div>
</div>
