<div class="ui-g-12">
    <div class="sixteen wide column">
        <h2 class="ui dividing header">{{ 'TranslateQuestions' | translate }}</h2>
        <div class="ui two column centered grid">
            <div class="two column centered row">
                <div class="column" style="min-width: 100%;">
                    <table class="ui celled striped table">
                        <thead [formGroup]="translateForm" >
                            <tr>
                                <td colspan="7">
                                    <div class="active content filter-block">
                                        <form class="ui form" >
                                            <div class="seven fields">
                                                    <div class="field">
                                                            <label>{{ 'TranslateOnlyNotTranslated' | translate }}</label>                                        
                                                            <div class="ui mini icon input">
                                                                <p-checkbox name="isOnlyNotTranslated" [(ngModel)]="isOnlyNotTranslated" binary="true"></p-checkbox>
                                                            </div>
                                                        </div>
                                                        <div class="field">
                                                            <label>{{ 'TranslatePerPage' | translate }}</label>
                                                            <div class="ui mini icon input">
                                                                <input type="number" name="takeCount" [(ngModel)]="takeCount" pInputText pKeyFilter="int">
                                                            </div>
                                                        </div>                                    
                                                        <div class="field">                                             
                                                            <label>{{ 'QuestionPageCategiry' | translate }}</label>  
                                                            <p-dropdown [options]="categories" [(ngModel)]="categoryId" name="categoryId"></p-dropdown>
                                                        </div>
                                                        <div class="field">     
                                                            <label>{{ 'QuestionPageArticleName' | translate }}</label>
                                                            <div class="ui mini icon input">
                                                                <input type="text" [(ngModel)]="articleNumber" name="articleNumber" >
                                                            </div>
                                                        </div>
                                                        <div class="field">     
                                                            <label>{{ 'QuestionPageText' | translate }}</label>
                                                            <div class="ui mini icon input">
                                                                <input type="text" [(ngModel)]="questionText" name="questionText" >
                                                            </div>
                                                        </div>
                                                <a id="aplyfilter" (click)="aplyFilter()" style="margin-top: 24px;" title="{{ 'ApplyFilter' | translate }}" class="font-size-1-35-em icon-filter-button">&nbsp;</a>
                                            </div>
                                        </form>
                                    </div>               
                                </td>
                            </tr>
                            <tr>
                                <th style="text-align: center;">
                                    <p-dropdown [options]="languageOnlyRuItem" formControlName="fromLanguage" [style]="{'width':'255px'}"></p-dropdown>
                                </th>
                                <th colspan="2" style="text-align: center;">
                                    <p-dropdown [options]="languageItems" formControlName="toLanguage" [style]="{'width':'255px'}"></p-dropdown>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor = "let questionTranslateItem of questionTranslateItems;">
                                <td style="width: 40%">
                                    <div class="ui-inputgroup">
                                        <span class="ui-inputgroup-addon">{{ 'QuestionPageText' | translate }}</span>
                                        <div style="height: 147px;width: 100%; font-size:14px;overflow-y: scroll;" readonly class="ui-inputtext ui-corner-all ui-state-default ui-widget" pInputTextarea autoResize="autoResize" 
                                        [innerHTML]="questionTranslateItem.text"></div>         
                                    </div>
                                    <table style="width: 100%">
                                        <tr *ngFor = "let answerTranslateItem of answerTranslateItems;">
                                            <td *ngIf = "answerTranslateItem.questionId == questionTranslateItem.questionId" style="padding: 0;">
                                                <div class="ui-inputgroup">
                                                    <span class="ui-inputgroup-addon" style="font-size:15px;">{{ 'QuestionPageAnswersText' | translate }}</span>
                                                    <div style="height:70px;width: 100%; font-size:14px;overflow-y: scroll;" readonly class="ui-inputtext ui-corner-all ui-state-default ui-widget" pInputTextarea autoResize="autoResize" 
                                                    [innerHTML]="answerTranslateItem.text"></div>         
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="width: 50%">
                                    <div class="ui-inputgroup">
                                        <span class="ui-inputgroup-addon" style="min-width: 70px;font-size:15px;">{{ 'QuestionPageText' | translate }} ({{ 'Translate' | translate }})</span>
                                        <p-editor [(ngModel)]="questionTranslateItem.translateText" name="translateText" [style]="{'height':'80px'}"></p-editor>
                                    </div>                                    

                                    <table style="width: 100%">
                                        <tr *ngFor = "let answerTranslateItem of answerTranslateItems;">
                                            <td *ngIf = "answerTranslateItem.questionId == questionTranslateItem.questionId" style="padding: 0;">
                                                <div class="ui-inputgroup">
                                                    <span class="ui-inputgroup-addon" style="width: 148px;margin-left: -2px;font-size:15px;">{{ 'QuestionPageAnswersText' | translate }} ({{ 'Translate' | translate }})</span>
                                                    <textarea [(ngModel)]="answerTranslateItem.translateText" name="translateText"  style="height:70px;width: 100%;overflow-y: scroll;font-size:14px;" class="ui-inputtext ui-corner-all ui-state-default ui-widget" pInputTextarea autoResize="autoResize"></textarea>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <div (click)="onSubmit(questionTranslateItem);"  class="ui basic green button right floated">{{ 'ButtonSave' | translate }}</div>
                                </td>
                            </tr>  
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>