<div class="ui-g-12">
        <core-breadcrumb [coreBreadcrumbItems]="coreBreadcrumbItems"></core-breadcrumb>

        <h2 class="ui dividing header icon-users-page">{{ 'User' | translate }}</h2>
        <form [formGroup]="userForm" class="ui form">    

        <label>{{ 'UserFIO' | translate }}</label><br/>
        <div class="three fields form-block">
            <div class="field" [ngClass]="validatErrors('firstName') ? '' : 'error'">
                <label>{{ 'UserFirstName' | translate }}</label>
                <input formControlName="firstName"/>                        
            </div>
            <div class="field" [ngClass]="validatErrors('middleName') ? '' : 'error'">
                <label>{{ 'UserMidleName' | translate }}</label>
                <input formControlName="middleName"/>                        
            </div>
            <div class="field" [ngClass]="validatErrors('secondName') ? '' : 'error'">
                <label>{{ 'UserSecondName' | translate }}</label>
                <input formControlName="secondName"/>                        
            </div>            
            <div class="field" [ngClass]="validatErrors('birthdate') ? '' : 'error'">
                <label>{{ 'UserBirthday' | translate }}</label>
                <p-calendar dateFormat="dd.mm.yy" formControlName="birthdate" [maxDate]="maxDateTime" ></p-calendar>
            </div>
        </div>
        <label>{{ 'UserInfo' | translate }}</label><br/>
        <div class="four fields form-block">
            <div class="field" [ngClass]="validatErrors('inn') ? '' : 'error'">
                <label>{{ 'UserIIN' | translate }}</label>
                <input formControlName="inn"/>                        
            </div>
            <div class="field">
                <label>{{ 'QuestionPageCategiry' | translate }}</label>
                <p-dropdown [options]="categoryItems" formControlName="categoryId" [style]="{'width':'255px'}"></p-dropdown>
            </div>
            <div class="field" [ngClass]="validatErrors('position') ? '' : 'error'">
                <label>{{ 'UserPosition' | translate }}</label>
                <input formControlName="position"/>                        
            </div>
            <div class="field" [ngClass]="validatErrors('roleId') ? '' : 'error'">
                <label>{{ 'UserRole' | translate }}</label>
                <p-dropdown [options]="userRoleItems" formControlName="roleId" [style]="{'width':'255px'}"></p-dropdown>
            </div>
        </div>
        <label>{{ 'UserContacts' | translate }}</label><br/>
        <div class="three fields form-block">
            <div class="field" [ngClass]="validatErrors('address') ? '' : 'error'">
                <label>{{ 'UserAddress' | translate }}</label>
                <input formControlName="address"/>                        
            </div>
            <div class="field" [ngClass]="validatErrors('phoneNumber') ? '' : 'error'">
                <label>{{ 'UserPhone' | translate }}</label>
                <input formControlName="phoneNumber"/>                        
            </div>
            <div class="field" [ngClass]="validatErrors('email') ? '' : 'error'">
                <label>{{ 'UserEmail' | translate }}</label>
                <input formControlName="email"/>                        
            </div>
        </div>
        <label>{{ 'UserActions' | translate }}</label><br/>
        <div class="three fields form-block">
            <div class="field" [ngClass]="validatErrors('isActive') ? '' : 'error'">
                <label>{{ 'UserActived' | translate }}?</label>
                <p-checkbox formControlName="isActive" binary="true"></p-checkbox>
            </div>
            <div class="field" [ngClass]="validatErrors('isDeleted') ? '' : 'error'">
                <label>{{ 'UserDeleted' | translate }}?</label>
                <p-checkbox formControlName="isDeleted" binary="true"></p-checkbox>                     
            </div>
        </div>

            <div class="field">
                <div (click)="onSubmit()" class="ui olive button right floated">{{ 'ButtonSave' | translate }}</div>
            </div>
        </form>
    </div>