<core-breadcrumb [coreBreadcrumbItems]="coreBreadcrumbItems"></core-breadcrumb>
<h2 class="ui dividing header icon-users-page">{{ 'Users' | translate }}</h2>
<table class="ui selectable small table table-striped" [rtList]="getUsersPagedList" #list="rtList">
    <thead>
        <tr>
            <td colspan="7">
                <div class="active content filter-block">
                    <form class="ui form" >
                        <div class="four fields">
                                <div class="field">
                                        <label>{{ 'UserMidleName' | translate }}</label>
                                        <div class="ui mini icon input">
                                            <input type="text" [(ngModel)]="middleName" name="middleName" >
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label>{{ 'UserIIN' | translate }}</label>
                                        <div class="ui mini icon input">
                                            <input type="text" [(ngModel)]="inn" name="inn" >
                                        </div>
                                    </div>
                            <a id="aplyfilter" (click)="list.reloadData()" style="margin-top: 24px;" title="{{ 'ApplyFilter' | translate }}" class="font-size-1-35-em icon-filter-button">&nbsp;</a>
                        </div>
                    </form>
                </div>               
            </td>
        </tr>
        <tr>            
            <ngx-loading [show]="!canUploadUsers" ></ngx-loading>
            <td colspan="7" style="border: 0px;">
                <p-fileUpload
                        mode="basic"
                        name="file[]" 
                        url="/api/files/uploadUsers"
                        accept=".xls, .xlsx,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                        (onBeforeUpload) = "onBeforeUploadUsers($event)"
                        (onError) = "onUserUploadError($event)"
                        (onUpload) = "onUpload($event)"
                        chooseLabel="{{ 'LoadUsers' | translate }}">
                </p-fileUpload>
                <a routerLink="/user/0" class="dotted-button dotted-button-position font-size-1-35-em icon-add-button">{{ 'ButtonCreate' | translate }}</a>
                <!--div (click)="downloadUserDtoTemplate()" style="width:auto !important" class="ui mini olive button right floated grid-input-asbtn">{{ 'TemplateDownload' | translate }}</div-->
                <a (click)="downloadUserDtoTemplate()" class="dotted-button dotted-button-position font-size-1-35-em icon-add-button">{{ 'TemplateDownload' | translate }}</a>
            </td>
        </tr>
        <tr>
            <th class="collapsing"></th>
            <th><span>{{ 'UserFIO' | translate }}</span></th>
            <th class="collapsing"><span>{{ 'UserIIN' | translate }}</span></th>
            <th class="collapsing"><span>{{ 'UserPhone' | translate }}</span></th>
            <!--th class="collapsing"><span>Роль</span></th-->
            <th class="collapsing"><span>{{ 'UserActived' | translate }}</span></th>
            <th class="collapsing"><span>{{ 'UserDeleted' | translate }}</span></th>
        </tr>
    </thead>
    <tbody rtSelectionArea>                
        <tr *ngFor="let user of list.items" [rtSelectable]="user">
            <td><a routerLink="/user/{{user.id}}"><i class="fa fa-edit edit-table-item"></i></a></td>
            <td>{{user.middleName}} {{user.firstName}} {{user.secondName}}</td>
            <td>{{user.inn}}</td>
            <td>{{user.phoneNumber}}</td>
            <!--td>{{user.role}}</td-->
            <td>
                <p-checkbox [(ngModel)]="user.isActive" binary="true" disabled></p-checkbox>
            </td>
            <td>
                <p-checkbox [(ngModel)]="user.isDeleted" binary="true" disabled></p-checkbox>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="6">
                <core-pagination [pageSize]="pageSize"></core-pagination>
            </td>
        </tr>
    </tfoot>
</table>