<div *ngIf="hasAdministratorAccess()"  class="table-responsive">
    <h2 class="ui dividing header icon-monitoring-page">{{ 'MonitoringPageHeader' | translate }}</h2>
    <table class="ui selectable small table table-striped" [rtList]="getExaminationObservedUsers" #list="rtList">
        <thead> 
            <tr>
                <td colspan="8">
                    <div class="active content filter-block">
                        <form class="ui form" >
                            <div class="two fields">
                                <div class="field">                                             
                                    <label>{{ 'MonitoringExaminationFilter' | translate }}</label>
                                    <p-dropdown [options]="activeExaminations" [(ngModel)]="examinationId" name="examinationId"></p-dropdown>
                                </div>
                                <a id="aplyMonitoringFilter" (click)="list.reloadData()" style="margin-top: 24px;" title="{{ 'ApplyFilter' | translate }}" class="font-size-1-35-em icon-filter-button">&nbsp;</a>
                            </div>
                        </form>
                    </div>
                                       
                </td>
            </tr>
            <tr>
                <td colspan="8" style="border: none !important;" class="ui-font-family">
                    {{ 'MonitoringExaminationUsers' | translate }}
                </td>
            </tr>
            <tr>
                <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#</th>
                <th><span>{{ 'MonitoringUserName' | translate }}</span></th>
                <th><span>{{ 'MonitoringStartDateFact' | translate }}</span></th>
                <th><span>{{ 'MonitoringEndDateFact' | translate}}</span></th>
                <th><span>{{ 'MonitoringExaminationPoints' | translate }}</span></th>
                <th><span>{{ 'MonitoringOralExaminationPoints' | translate }}</span></th>
                <th><span>{{ 'MonitoringComment' | translate }}</span></th>
                <th><span>{{ 'MonitoingState' | translate }}</span></th>
            </tr>
        </thead>
        <tbody rtSelectionArea>                
            <ng-container *ngFor="let observedUser of list.items" [rtSelectable]="observedUser">
                <tr [ngClass]="[observedUser.isSelected ? 'selected-row-with-inner-table' : '' ]">
                    <td><a *ngIf="observedUser.isPassed" class="icon-print-button" (click)="printIndividualReport(observedUser.id)" title="Печать">&nbsp;</a></td>
                    <td><a class="dottet-link" (click)="toggleEditRow(observedUser, list.items)" [innerHTML]="observedUser.userName"></a></td>
                    <td>{{observedUser.factStartDate}}</td>
                    <td>{{observedUser.factEndDate}}</td>
                    <td>{{observedUser.examinationPoints}}</td>
                    <td>{{observedUser.oralExaminationPoints}}</td>
                    <td>{{observedUser.comment}}</td>
                    <td>{{observedUser.stateName}}</td>
                </tr>
                <tr *ngIf="observedUser.isSelected || observedUser.id == getMonitoringOpenedRowState()" class="selected-row-with-inner-table">
                    <td colspan="8">
                        <table class="selected-row-with-inner-table">
                            <tr class="selected-row-with-inner-table">
                                <td *ngIf="observedUser.isOralResultEditAvailable">
                                    <div class="field inner-table-font-size">
                                            <label>{{ 'MonitoringOralExaminationPoints' | translate }}</label><br/>
                                            <input type="text" class="tr-row-detail-input " [(ngModel)]="observedUser.oralExaminationPoints" name="oralExaminationPoints" placeholder="Устный экзамен">
                                    </div>
                                </td>
                                <td *ngIf="observedUser.isStateEditAvailable" style="max-width: 350px; min-width: 350px;" class="inner-table-font-size">
                                    <div class="field">                                             
                                            <label>{{ 'MonitoingState' | translate }}</label>
                                            <p-dropdown [options]="resultTypes" [(ngModel)]="observedUser.stateId" name="stateId"></p-dropdown>
                                    </div>
                                </td>
                                <td *ngIf="observedUser.isStateEditAvailable">
                                    <div class="field inner-table-font-size">
                                            <label>{{ 'MonitoringComment' | translate }}</label><br/>
                                            <input type="text" class="tr-row-detail-input " [(ngModel)]="observedUser.comment" name="comment" placeholder="Комментарий">
                                    </div>
                                </td>
                                <td *ngIf="observedUser.isOralResultEditAvailable || observedUser.isStateEditAvailable" class="inner-table-font-size inner-table-seve-button">
                                        <label></label><br/>
                                        <a (click)="saveUserGroup(observedUser, list)" title="{{ 'ButtonSave' | translate }}" class="dotted-button-no-bg font-size-1-35-em icon-innter-table-save-button tr-row-detail-save-button">{{ 'ButtonSave' | translate }}</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </ng-container>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                    <core-pagination [pageSize]="pageSize"></core-pagination>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
        
<ng-container>
    <div id="indevidual-result-report" style="position: fixed; top: -999999px; left: -9999999px;">
        <div style="font-size: 16px; font-style: italic; font-weight: bold;">
            <div style="text-align: center;"><span [outerHTML]="'IndividualReportTitle' | translate | safeHtml"></span></div>
            <br/><br/>
            <div>
                {{'IndividualReportUserName'|translate}}:   {{individualReportData.userName}}
            </div>
            <br/><br/>
            <div>
                {{'IndividualReportPassedDate'|translate}}:     {{individualReportData.examinationPassedDate}}
            </div>
            <br/><br/>
            <table style="width: 100%; border: 1px solid #333;">
                <thead>
                    <tr style="border: 1px solid #333;">
                        <td style="width: 60%;">{{'IndividualReportCategoryName'|translate}}</td>
                        <td style="width: 20%;">{{'IndividualReportQuestionCount'|translate}}</td>
                        <td style="width: 20%;">{{'IndividualReportRightAnswersCount'|translate}}</td>
                    </tr>
                </thead>
                <tbody *ngIf="individualReportData && individualReportData.categories">
                    <tr *ngFor="let category of individualReportData.categories" style="border: 1px solid #333;">
                        <td>{{category.categotyName}}</td>
                        <td>{{category.questionCount}}</td>
                        <td>{{category.rightQuestionCount}}</td>
                    </tr>
                </tbody>
            </table>
            <br/><br/>
            <div>{{'IndividualReportExaminationResult'|translate}} – {{individualReportData.examinationPoints}} {{'IndividualReportPoints'|translate}}.</div>
            <br/><br/>
            <div>{{'IndividualReportOralExaminationResult'|translate}} – {{individualReportData.oralExaminationPoints}} {{'IndividualReportPoints'|translate}}.</div>
            <br/><br/>
            <div>{{'IndividualReportTotalExaminationResult'|translate}} – {{individualReportData.examinationResult}}</div>
            <br/><br/>
            <div>{{'IndividualReportText'|translate}}.</div>
            <br/><br/>
            <table style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="width: 50%;">{{'IndividualReportChairman'|translate}}</td>
                        <td style="width: 50%;">{{individualReportData.chairmanName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-container>