<div class="ui-g-12">
    <div class="sixteen wide column">
        <h2 class="ui dividing header">{{ 'TranslateCategories' | translate }}</h2>
        <div class="ui two column centered grid">
            <div class="two column centered row">
                <div class="column" style="min-width: 100%;">
                    <table class="ui celled striped table">
                        <thead [formGroup]="translateForm" >
                            <tr>
                                <td colspan="7">
                                    <div class="active content filter-block">
                                        <form class="ui form" >
                                            <div class="seven fields">
                                                <div class="field">
                                                    <label>{{ 'TranslateOnlyNotTranslated' | translate }}</label>
                                                    <div class="ui mini icon input">
                                                        <p-checkbox name="isOnlyNotTranslated" [(ngModel)]="isOnlyNotTranslated" binary="true"></p-checkbox>
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <label>{{ 'TranslatePerPage' | translate }}</label>
                                                    <div class="ui mini icon input">
                                                        <input type="number" name="takeCount" [(ngModel)]="takeCount" pInputText pKeyFilter="int">
                                                    </div>
                                                </div>
                                                <a id="aplyfilter" (click)="aplyFilter()" style="margin-top: 24px;" title="{{ 'ApplyFilter' | translate }}" class="font-size-1-35-em icon-filter-button">&nbsp;</a>
                                            </div>
                                        </form>
                                    </div>               
                                </td>
                            </tr>
                            <tr>
                                <th style="text-align: center; width: 50%;">
                                    <p-dropdown [options]="languageOnlyRuItem" formControlName="fromLanguage"  [style]="{'width':'255px'}"></p-dropdown>
                                </th>
                                <th colspan="2" style="text-align: center;">
                                    <p-dropdown [options]="languageItems" formControlName="toLanguage" [style]="{'width':'255px'}"></p-dropdown>                        
                                </th>
                            </tr>
                        </thead>
                        <tr *ngFor = "let categoryTranslateItem of categoryTranslateItems;">
                            <td>
                                <div class="ui-inputgroup">
                                    <span class="ui-inputgroup-addon" style="max-width: 130px">{{ 'CategoryPageTitle' | translate }}</span>
                                    <div style="max-height: 140px;width: 100%;overflow-y: scroll;" class="ui-inputtext ui-corner-all ui-state-default ui-widget" [innerHTML]="categoryTranslateItem.text"></div>         
                                    <!--textarea [rows]="3" readonly class="ui-inputtext ui-corner-all ui-state-default ui-widget" pInputTextarea autoResize="autoResize">{{categoryTranslateItem.text}}</textarea-->         
                                </div>
                            </td>
                            <td>
                                <div class="ui-inputgroup">
                                    <span class="ui-inputgroup-addon" style="max-width: 130px">{{ 'CategoryPageTitle' | translate }} ({{ 'Translate' | translate }})</span>
                                    <textarea style="width: 100%;" [rows]="3" pInputTextarea autoResize="autoResize" [(ngModel)]="categoryTranslateItem.translateText" name="translateText" class="ui-inputtext ui-corner-all ui-state-default ui-widget"></textarea>
                                </div>
                            </td>
                            <td>
                                <div (click)="onSubmit(categoryTranslateItem);"  class="ui basic green button right floated">{{ 'ButtonSave' | translate }}</div>
                            </td>
                        </tr>  
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>