﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Система тестирования</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">

</head>
<body>
<application-content>
    <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
    </div>
</application-content>    
<script type="text/javascript" src="./inline.bundle.js"></script>
<script type="text/javascript" src="./polyfills.bundle.js"></script>
<script type="text/javascript" src="./styles.bundle.js"></script>
<script type="text/javascript" src="./scripts.bundle.js"></script>
<script type="text/javascript" src="./vendor.bundle.js"></script>
<script type="text/javascript" src="./main.bundle.js"></script></body>
</html>
